@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Noto+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Sarala:wght@400;700&family=Silkscreen&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mask {
    border-radius: 50%;
    border: 2px solid #BB99DD;

    width: 210px;
    height: 210px;

    margin: 0 auto;

    margin-top: 10px;
}

.mask img {
    border-radius: 50%;

    margin-left: 3px;
    margin-top: 3px;
}

.container h3 {
    margin-top: 15px;
    margin-bottom: 33px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #BB99DD;

    cursor: pointer;
}

.link {
    height: 49px;
    width: 326px;

    border: 2px solid #BB99DD;
    border-radius: 4px;

    margin-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s;

    cursor: pointer;
}

.link:hover {
    background-color: rgba(134, 45, 134, .5);
    color: white;
}

.link h4 {
    width: 350px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    text-transform: uppercase;

    color: #BB99DD;

    transition: all 0.5s;
}

.link h4:hover {
    color: white;
    transition: all 0.5s;
}

.group {
    width: 236px;
    height: 24px;
    
    margin-top: 34px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group img {
    cursor: pointer;
    transition: all 0.5s;
}

.group img:hover {
    background-color: rgba(134, 45, 134, .3);
    border-radius: 5px;
}

@media screen and (max-width: ) {
    
}